nav{
	width: 510px;
	height: 52px;
	margin: 100px auto;
}
.box{
	width: 102px;
	height: 52px;
	float: left;
	position: relative;
}
.xieqie{
	width: 100px;
	height: 50px;
	border: 1px solid yellow;
	transform-origin: right top; 
	transform: skew(150deg);
	background-color: pink;
}
.title{width: 98px;
	height: 48px;
	font: 20px/48px  "微软雅黑";
	text-align: center;
	position: absolute;
	left: 0;
	top: 2px;
}
.box:hover .xieqie{
	background-color: peru;
}




